html,
body,
#root {
  --primary-bg-color: #fcfcfc;
  --primary-txt-color: #00171f;

  height: 100vh;
  margin: 0px;
  background: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: 'Times New Roman';
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.5px;
}
