html,
body,
#root {
  --primary-bg-color: #f8f0fb;
  --primary-txt-color: #401598;
  --primary-color: #6320ee;
  --accent-color: #8075ff;
  --hover-color: #b5fed9;

  height: 100vh;
  margin: 1rem;
  background: var(--primary-bg-color);
  color: var(--primary-txt-color);
  font-family: 'Butler-ExtraBold', 'Times New Roman';
  font-size: 1.3em;
  line-height: 1.4;
  text-align: center;
}

::selection {
  background: var(--hover-color); /* WebKit/Blink Browsers */
}

@media screen and (max-width: 600px) {
  html,
  body,
  #root {
    margin: 0;
  }
}
